In [1]:
# https://mockaroo.com
data = """make	model	year	vin
Lincoln	Mark VII	1984	JTEBU4BF1CK851704
Chevrolet	G-Series G20	1995	2HNYD2H81CH512633
Pontiac	Grand Am	2003	2B3CA5CT8AH962283
Chevrolet	Metro	2000	3VW507AT4FM099500
Audi	A4	2007	2C3CCAEG5EH186769
Chrysler	PT Cruiser	2002	WBANF73546C868074
Toyota	Previa	1991	SAJWA8JH3EM613788
Toyota	RAV4	2012	WAUSFAFL5BA091873
Volkswagen	Passat	2010	2HNYD18846H074639
Suzuki	Esteem	1999	3GYFNFE37CS914822
"""

In [2]:
data.splitlines()[1:]

['Lincoln\tMark VII\t1984\tJTEBU4BF1CK851704',
 'Chevrolet\tG-Series G20\t1995\t2HNYD2H81CH512633',
 'Pontiac\tGrand Am\t2003\t2B3CA5CT8AH962283',
 'Chevrolet\tMetro\t2000\t3VW507AT4FM099500',
 'Audi\tA4\t2007\t2C3CCAEG5EH186769',
 'Chrysler\tPT Cruiser\t2002\tWBANF73546C868074',
 'Toyota\tPrevia\t1991\tSAJWA8JH3EM613788',
 'Toyota\tRAV4\t2012\tWAUSFAFL5BA091873',
 'Volkswagen\tPassat\t2010\t2HNYD18846H074639',
 'Suzuki\tEsteem\t1999\t3GYFNFE37CS914822']

## Classes, no behavior

In [3]:
from collections import namedtuple

In [4]:
Car = namedtuple('Car', 'make model year vin')

In [5]:
cars = []
for row in data.splitlines()[1:]:
    cars.append(
        Car(*row.split("\t"))
    )

In [6]:
cars

[Car(make='Lincoln', model='Mark VII', year='1984', vin='JTEBU4BF1CK851704'),
 Car(make='Chevrolet', model='G-Series G20', year='1995', vin='2HNYD2H81CH512633'),
 Car(make='Pontiac', model='Grand Am', year='2003', vin='2B3CA5CT8AH962283'),
 Car(make='Chevrolet', model='Metro', year='2000', vin='3VW507AT4FM099500'),
 Car(make='Audi', model='A4', year='2007', vin='2C3CCAEG5EH186769'),
 Car(make='Chrysler', model='PT Cruiser', year='2002', vin='WBANF73546C868074'),
 Car(make='Toyota', model='Previa', year='1991', vin='SAJWA8JH3EM613788'),
 Car(make='Toyota', model='RAV4', year='2012', vin='WAUSFAFL5BA091873'),
 Car(make='Volkswagen', model='Passat', year='2010', vin='2HNYD18846H074639'),
 Car(make='Suzuki', model='Esteem', year='1999', vin='3GYFNFE37CS914822')]

In [7]:
first_car = cars[0]

In [10]:
str(first_car)

"Car(make='Lincoln', model='Mark VII', year='1984', vin='JTEBU4BF1CK851704')"

In [11]:
first_car.make

'Lincoln'

In [12]:
first_car.model

'Mark VII'

In [13]:
first_car.year

'1984'

In [14]:
first_car.vin

'JTEBU4BF1CK851704'

In [15]:
max(cars, key=lambda car: car.year)

Car(make='Toyota', model='RAV4', year='2012', vin='WAUSFAFL5BA091873')

In [16]:
sorted(cars, key=lambda car: (car.model, car.make))

[Car(make='Audi', model='A4', year='2007', vin='2C3CCAEG5EH186769'),
 Car(make='Suzuki', model='Esteem', year='1999', vin='3GYFNFE37CS914822'),
 Car(make='Chevrolet', model='G-Series G20', year='1995', vin='2HNYD2H81CH512633'),
 Car(make='Pontiac', model='Grand Am', year='2003', vin='2B3CA5CT8AH962283'),
 Car(make='Lincoln', model='Mark VII', year='1984', vin='JTEBU4BF1CK851704'),
 Car(make='Chevrolet', model='Metro', year='2000', vin='3VW507AT4FM099500'),
 Car(make='Chrysler', model='PT Cruiser', year='2002', vin='WBANF73546C868074'),
 Car(make='Volkswagen', model='Passat', year='2010', vin='2HNYD18846H074639'),
 Car(make='Toyota', model='Previa', year='1991', vin='SAJWA8JH3EM613788'),
 Car(make='Toyota', model='RAV4', year='2012', vin='WAUSFAFL5BA091873')]

In [17]:
repr(first_car)

"Car(make='Lincoln', model='Mark VII', year='1984', vin='JTEBU4BF1CK851704')"

In [18]:
Car.__mro__

(__main__.Car, tuple, object)

In [24]:
first_car.year = 2020

AttributeError: can't set attribute

## Dataclasses - namedtuples on steriods?

In [195]:
from dataclasses import dataclass, field

@dataclass
class Car:
    make: str
    model: str
    year: int
    vin: str = "PB20161219"
        
    def __post_init__(self):
        self.year = int(self.year)
        
    def __str__(self):  #Â does not come with dataclasses
        return f"{self.make} - {self.model} ({self.year})"
    
    # no need to write your __repr__

In [196]:
cars = []
for row in data.splitlines()[1:]:
    cars.append(
        Car(*row.split("\t"))
    )

In [197]:
cars

[Car(make='Lincoln', model='Mark VII', year=1984, vin='JTEBU4BF1CK851704'),
 Car(make='Chevrolet', model='G-Series G20', year=1995, vin='2HNYD2H81CH512633'),
 Car(make='Pontiac', model='Grand Am', year=2003, vin='2B3CA5CT8AH962283'),
 Car(make='Chevrolet', model='Metro', year=2000, vin='3VW507AT4FM099500'),
 Car(make='Audi', model='A4', year=2007, vin='2C3CCAEG5EH186769'),
 Car(make='Chrysler', model='PT Cruiser', year=2002, vin='WBANF73546C868074'),
 Car(make='Toyota', model='Previa', year=1991, vin='SAJWA8JH3EM613788'),
 Car(make='Toyota', model='RAV4', year=2012, vin='WAUSFAFL5BA091873'),
 Car(make='Volkswagen', model='Passat', year=2010, vin='2HNYD18846H074639'),
 Car(make='Suzuki', model='Esteem', year=1999, vin='3GYFNFE37CS914822')]

In [198]:
first_car = cars[0]

In [199]:
str(first_car)

'Lincoln - Mark VII (1984)'

In [200]:
repr(first_car)

"Car(make='Lincoln', model='Mark VII', year=1984, vin='JTEBU4BF1CK851704')"

In [201]:
eval(repr(first_car))

Car(make='Lincoln', model='Mark VII', year=1984, vin='JTEBU4BF1CK851704')

In [202]:
first_car.year = 2020   # dataclasses are mutable, but adding frozen=True to @dataclass will make them immutable

In [203]:
max(cars, key=lambda car: car.year)

Car(make='Lincoln', model='Mark VII', year=2020, vin='JTEBU4BF1CK851704')

In [204]:
Car(make='Ford', model='F150', year=1992)  # default VIN

Car(make='Ford', model='F150', year=1992, vin='PB20161219')

## Basic class + property

In [212]:
OIL_CHECK_LIMIT = 10000


class Car:
        
    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year = int(year)
        self.mileage = 0
        self.oil_changed = 0
        
    def __str__(self):
        return f"{self.make} - {self.model} ({self.year})"
    
    def drive(self, km):
        self.mileage += km
    
    @property
    def needs_oil_change(self):
        return (self.mileage - self.oil_changed) > OIL_CHECK_LIMIT
    
    def change_oil(self):
        self.oil_changed = self.mileage

In [213]:
car = Car('Lincoln', 'Mark VII', 1984)

In [214]:
car.mileage

0

In [215]:
car.drive(10)

In [216]:
car.mileage

10

In [217]:
car.needs_oil_change

False

In [218]:
car.drive(10000)

In [219]:
car.needs_oil_change

True

In [220]:
car.change_oil()

In [221]:
car.mileage

10010

In [222]:
car.oil_changed

10010

In [223]:
car.needs_oil_change

False

Simple class article -> https://pybit.es/python-classes.html

## Add some dunders

In [224]:
car2 = Car(make='Chevrolet', model='Metro', year=2000)

In [225]:
car > car2

TypeError: '>' not supported between instances of 'Car' and 'Car'

In [254]:
OIL_CHECK_LIMIT = 10000


class Car:
        
    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year = int(year)
        self.mileage = 0
        self.oil_changed = 0
        
    def __str__(self):
        return f"{self.make} - {self.model} ({self.year})"
    
    def drive(self, km):
        self.mileage += km
    
    def __eq__(self, other):
        return self.mileage == other.mileage
    
    def __lt__(self, other):
        return self.mileage < other.mileage

    @property
    def needs_oil_change(self):
        return (self.mileage - self.oil_changed) > OIL_CHECK_LIMIT
    
    def change_oil(self):
        self.oil_changed = self.mileage

In [255]:
car = Car('Lincoln', 'Mark VII', 1984)
car2 = Car(make='Chevrolet', model='Metro', year=2000)

In [256]:
str(car), str(car2)

('Lincoln - Mark VII (1984)', 'Chevrolet - Metro (2000)')

In [257]:
car == car2

True

In [258]:
car.drive(10)

In [259]:
car.drive(20)

In [260]:
car2.drive(40)

In [261]:
car2 > car

True

More dunders -> https://dbader.org/blog/python-dunder-methods

## Inheritance

In [263]:
class CoolCar(Car):
    
    def __init__(self, *args, **kwargs):
        super().__init__(*args, **kwargs)
        
    def drive_back_and_forth(self, km):
        self.drive(km * 2)

In [264]:
car3 = CoolCar(make='Audi', model='A4', year=2007)

In [265]:
car3.drive(10)

In [266]:
car3.mileage

10

In [267]:
car3.drive_back_and_forth(20)

In [268]:
car3.mileage

50

Another simple example is defining your own exceptions:

In [12]:
class MyException(ValueError):
    pass

## Abstract base classes (ABC's)

In [269]:
from abc import ABCMeta, abstractmethod

class Developer(metaclass=ABCMeta):
    
    @abstractmethod
    def get_post_days(self):
        """Classes that inherit from Developer need to implement this method"""
        pass
    
    def __str__(self):
        return self.__class__.__name__

In [270]:
class Julian(Developer):
    pass

# oops, did not implement get_post_days()
jul = Julian()

TypeError: Can't instantiate abstract class Julian with abstract methods get_post_days

In [271]:
class Julian(Developer):
    
    def get_post_days(self):
        return 'Tue Wed'.split()

# ok
julian = Julian()

Practice OOP -> https://codechalleng.es/bites/paths/oop

## class- and static methods

classmethods can be used as factory methods = for creating other objects (alternate constructors)

In [3]:
class Car:
        
    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year = int(year)
        
    def __str__(self):
        return f"{self.make} - {self.model} ({self.year})"
    
    @classmethod
    def high_end(cls):
        return cls("BMW", "X7", 2020)

In [6]:
car = Car.high_end()

In [7]:
str(car)

'BMW - X7 (2020)'

In [1]:
class Car:
    ...
    @staticmethod
    def my_function(arg1, arg2):  # no self
        pass

I have not found a use case over plain functions - https://stackoverflow.com/a/735978 / I guess the only argument to make is that they would be grouped with the code in the class.

In [8]:
# outside the class
def my_function(arg1, arg2):
    pass

## Polymorphism

= use of a single type entity (method, operator or object) to represent different types in different scenarios.

In [9]:
1+2

3

In [11]:
'a'+'b'

'ab'

= same operation, different result (ints = sum / strings = concatenate)