## Python OOP lesson

#### Simple class, constructor and method overriding

In [1]:
class A:
    pass

In [2]:
a = A()

In [3]:
dir(a)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__']

In [4]:
class A:
    def __init__(self, name):
        self.name = name

In [5]:
a = A()

TypeError: A.__init__() missing 1 required positional argument: 'name'

In [6]:
a = A("Anton")

In [7]:
a.name

'Anton'

In [8]:
a.age

AttributeError: 'A' object has no attribute 'age'

In [9]:
# Python is very liberal in setting attributes, even if they don't exist yet
a.age = 20

In [10]:
print(a)

<__main__.A object at 0x107ca7760>

In [12]:
class A:
    def __init__(self, name):
        self.name = name
        
    def __str__(self):
        return self.name

In [13]:
a = A("Anton")

In [14]:
print(a)

Anton

In [16]:
b = A("Bert")

In [17]:
a > b

TypeError: '>' not supported between instances of 'A' and 'A'

In [18]:
from functools import total_ordering

@total_ordering
class A:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def __eq__(self, other):
        return self.age == other.age
    
    def __lt__(self, other):
        return self.age < other.age 
    
    def __str__(self):
        return self.name

In [19]:
anton = A("Anton", 10)
bert = A("Bert", 20)

In [20]:
anton < bert

True

In [21]:
anton == bert

False

In [22]:
anton > bert

False

In [23]:
bert > anton

True

In [24]:
anton != bert

True

In [27]:
"a" + "b"

'ab'

In [28]:
anton()

TypeError: 'A' object is not callable

In [29]:
len(anton)

TypeError: object of type 'A' has no len()

In [30]:
repr(anton)

'<__main__.A object at 0x107fb3ca0>'

In [33]:
from functools import total_ordering

@total_ordering
class A:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def __eq__(self, other):
        return self.age == other.age
    
    def __lt__(self, other):
        return self.age < other.age 
    
    def __str__(self):
        return self.name
    
    # some more "features"
    def __repr__(self):
        return f"{self.__class__.__name__}('{self.name}', '{self.age}')"
    
    def __call__(self):
        print("I am called")
        
    def __add__(self, other):
        name = f"{self.name}_{other.name}"
        age = self.age + other.age
        return self.__class__(name, age)
    
    def __len__(self):
        return len(self.name)

In [34]:
anton = A("Anton", 10)
bert = A("Bert", 20)

In [35]:
joined = anton + bert

In [36]:
print(joined)

Anton_Bert

In [37]:
joined.age

30

In [38]:
joined()

I am called

In [39]:
len(joined)

10

In [40]:
repr(joined)

"A('Anton_Bert', '30')"

In [41]:
eval(repr(joined))

A('Anton_Bert', '30')

In [42]:
obj = eval(repr(joined))

In [43]:
obj.name, obj.age

('Anton_Bert', '30')

In [44]:
# pathlib.Path explained
"/tmp" / "foo"

TypeError: unsupported operand type(s) for /: 'A' and 'A'

In [45]:
class A:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def __str__(self):
        return self.name
    
    # support / operator
    def __truediv__(self, other):
        name = f"{self.name}/{other.name}"
        age = self.age / other.age
        return self.__class__(name, age)

In [46]:
anton = A("Anton", 10)
bert = A("Bert", 20)

In [47]:
print(anton / bert)

Anton/Bert

In [48]:
(anton / bert).age

0.5

More info on Python's data model and dunder methods:

- https://docs.python.org/3/reference/datamodel.html
- https://dbader.org/blog/python-dunder-methods

### dataclasses

Introduced in 3.7, prevent a lot of boilerplate. Let's redo A simplified to see what we save typing ...

Docs: https://docs.python.org/3/library/dataclasses.html

In [49]:
from dataclasses import dataclass

```
@dataclasses.dataclass(*, init=True, repr=True, eq=True, order=False, unsafe_hash=False, frozen=False, match_args=True, kw_only=False, slots=False)¶
```

In [51]:
@dataclass
class A:
    name: str
    age: int

In [52]:
anton = A("Anton", 10)
bert = A("Bert", 20)

In [54]:
print(anton)

A(name='Anton', age=10)

In [55]:
repr(anton)

"A(name='Anton', age=10)"

In [56]:
eval(repr(anton))

A(name='Anton', age=10)

In [57]:
anton > bert

TypeError: '>' not supported between instances of 'A' and 'A'

In [58]:
@dataclass(order=True)
class A:
    name: str
    age: int

In [59]:
anton = A("Anton", 10)
bert = A("Bert", 20)

In [60]:
anton > bert

False

In [61]:
anton.age = 17

In [66]:
@dataclass(order=True, frozen=True)
class A:
    name: str
    age: int
        
    def __iter__(self):
        yield self.name
        yield self.age

In [67]:
anton = A("Anton", 10)

In [69]:
name, age = A("Anton", 10)
name,age

('Anton', 10)

In [70]:
from collections import namedtuple

In [71]:
A = namedtuple("A", "name age")

In [72]:
a = A(name="tim", age=23)

In [73]:
a

A(name='tim', age=23)

In [74]:
name, age = a

In [75]:
name, age

('tim', 23)

### OOP concepts in Python and specific techniques

#### Inheritance (reuse behavior from the parent)

In [76]:
@dataclass
class A:
    name: str
    age: int

In [77]:
anton = A("Anton", 10)

In [79]:
@dataclass
class B(A):
    profession: str

In [82]:
bert = B("Bert", 10)

TypeError: B.__init__() missing 1 required positional argument: 'profession'

In [83]:
bert = B("Bert", 10, "programmer")

In [84]:
bert.profession

'programmer'

In [86]:
MIN_AGE = 18


@dataclass
class A:
    name: str
    age: int
        
    @property
    def can_drive(self):
        return "yes" if self.age >= MIN_AGE else "no"

In [87]:
anton = A("Anton", 10)

In [89]:
anton.can_drive

'no'

In [90]:
anton2 = A("Anton", 20)

In [91]:
anton2.can_drive

'yes'

In [93]:
@dataclass
class B(A):
    min_age: int = MIN_AGE

    @property
    def can_drive(self):
        return "yes" if self.age >= self.min_age else "no"

In [94]:
bert = B("Bert", 14)

In [96]:
bert.can_drive

'no'

In [99]:
bert2 = B("Bert", 14, min_age=14)

In [100]:
bert2.can_drive

'yes'

In [101]:
# can also override method
@dataclass
class B(A):
    min_age: int = MIN_AGE
    delegate: bool = False
        
    @property
    def can_drive(self):
        if self.delegate:
            # calling the parent class' can_drive property
            return super().can_drive
        return "any age can drive ;)"

In [103]:
bert2 = B("Bert", 14, 14)

In [104]:
bert2.can_drive

'any age can drive ;)'

In [106]:
bert2 = B("Bert", 14, min_age=14, delegate=True)

In [107]:
bert2.can_drive

'no'

I am keeping it simple for now. Multiple inheritance can be confusing, mixins can be risky, Google "diamond problem" and for a critical look at class based views in Django see last Code Clinic: https://pybites.mykajabi.com/products/pybites-coaching-calls-2/categories/3469727/posts/2156867625

#### Abstract classes (enforcing an interface)

In [108]:
# Django
class BaseCommand:

    # a lot of code truncated
    
    def handle(self, *args, **options):
        """
        The actual logic of the command. Subclasses must implement
        this method.
        """
        raise NotImplementedError(
            "subclasses of BaseCommand must provide a handle() method"
        )

In [111]:
class Command(BaseCommand):
    pass

In [112]:
cmd = Command()

In [113]:
cmd.handle()

NotImplementedError: subclasses of BaseCommand must provide a handle() method

Cool! What if we can even raise this one step earlier, when we instantiate the class?

In [115]:
# enter ABCs
from abc import ABC, abstractmethod


class BaseCommand(ABC):

    @abstractmethod
    def handle(self, *args, **options):
        pass

In [117]:
class Command(BaseCommand):
    def handle(...)

In [118]:
cmd = Command()

TypeError: Can't instantiate abstract class Command with abstract method handle

#### Private methods / attributes in Python

There is none (lol)

> As seen above, Python allows many tricks, and some of them are potentially dangerous. A good example is that any client code can override an object’s properties and methods: there is no “private” keyword in Python. This philosophy, very different from highly defensive languages like Java, which give a lot of mechanisms to prevent any misuse, is expressed by the saying: “We are consenting adults”.

https://python-guide-chinese.readthedocs.io/zh_CN/latest/writing/style.html#we-are-all-consenting-adults

In [119]:
@dataclass
class A:
    _name: str
    __age: int

In [120]:
anton = A("Anton", 10)

In [121]:
anton._name

'Anton'

In [122]:
anton.__age

AttributeError: 'A' object has no attribute '__age'

In [123]:
# feeling like a hacker ;)
anton._A__age

10

In [124]:
# it's get even more dangerous ...
anton._name = "new name"

In [125]:
anton.__age = 50

In [127]:
# huh?
print(anton)

A(_name='new name', _A__age=10)

In [129]:
anton._A__age = 50

In [130]:
print(anton)

A(_name='new name', _A__age=50)

So yeah we can get and set anything, no getters and setters needed like Java. But you can use a @property with settter:

In [131]:
@dataclass
class A:
    _name: str
    
    @property
    def name(self):
        return self._name
    
    @name.setter
    def name(self, name):
        raise ValueError("cannot set name")

In [132]:
anton = A("Anton")

In [133]:
anton.name

'Anton'

In [134]:
anton.name = "bob"

ValueError: cannot set name

In [135]:
@dataclass
class A:
    _name: str
    
    @property
    def name(self):
        return self._name
    
    @name.setter
    def name(self, name):
        if len(name) < 3:
            raise ValueError("name needs to be at least 3 chars")
        self._name = name

In [137]:
anton = A("Anton")

In [138]:
anton.name = "bob"

In [139]:
anton.name = "bo"

ValueError: name needs to be at least 3 chars

#### Different kinds of methods

Normal, class- and staticmethods.

In [141]:
class A:
    
    def __init__(self, name):
        self.name = name
        
    def normal_method(self, n: int):
        print(self.name * n)
    
    @classmethod
    def cls_method(cls):
        print("called classmethod")

    @staticmethod
    def st_method():
        print("called staticmethod")

In [142]:
a = A("Sarah")

In [143]:
a.normal_method(3)

SarahSarahSarah

In [150]:
A.st_method()

called staticmethod

In [145]:
A.cls_method()

called classmethod

In [146]:
a.cls_method()

called classmethod

In [147]:
A.st_method()

called staticmethod

In [148]:
a.st_method()

called staticmethod

#### Duck typing

> If it walks like a duck, and it quacks like a duck, then it must be a duck

> The idea is that you don't need a type in order to invoke an existing method on an object - if a method is defined on it, you can invoke it.

https://stackoverflow.com/a/4205163

In [151]:
a = "a string"
b = (1, 2, 3)
c = [4, 5, 6]
d = {"name": "tim", "age": 18}

class Random:
    def __len__(self):
        return 5
    
e = Random()

In [152]:
for i in (a, b, c, d, e):
    print(i, " | ", len(i))

a string  |  8
(1, 2, 3)  |  3
[4, 5, 6]  |  3
{'name': 'tim', 'age': 18}  |  2
<__main__.Random object at 0x107ddd0f0>  |  5

#### THE END

What did I miss / what should we do a follow up on?

Thanks!